### **1.Given a list, find value 20 in the list, replace it with 200. Only update the first occurrence of a value**
[5, 10, 15, 20, 25, 50, 20].

In [ ]:
# @title
lst = [5, 10, 15, 20, 25, 50, 20]
lst[lst.index(20)] = 200
print(lst)

[5, 10, 15, 200, 25, 50, 20]

### **2.Given a list, remove the first occurrence of 20 from the list.**
[5, 20, 15, 20, 25, 50, 20]

In [5]:
# @title
lst_1 = [5, 20, 15, 20, 25, 50, 20]
lst_1.pop(lst_1.index(20))
print(lst_1)

[5, 15, 20, 25, 50, 20]

In [6]:
# @title
lst_2 = [5, 20, 15, 20, 25, 50, 20]
lst_2.remove(20)
print(lst_2)

[5, 15, 20, 25, 50, 20]

### **3.Given a list, print the second largest element.**
[10, 20, 4],

[70, 11, 20, 4, 100]

In [8]:
# @title
B = [70, 11, 20, 4, 200]
B.pop(B.index(max(B)))
print(max(B))

70

In [9]:
# @title
numbers = [10, 20, 4]
max1 = max(numbers)
numbers.remove(max1)
max2 = max(numbers)
print(max2)

10

### **4.Given 3 dictionaries, create a new dictionary, which contains all of them.**
dic1={1:10, 2:20}

dic2={3:30, 4:40}

dic3={5:50,6:60}

In [10]:
# @title
new_dict = {}
dict_1 = {1:10, 2:20}
dict_2 = {3:30, 4:40}
dict_3 = {5:50, 6:60}
new_dict.update(dict_1)
new_dict.update(dict_2)
new_dict.update(dict_3)
print(new_dict)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

### **5.Given a dictionary, remove the given key.**
{‘a':1,'b':2,'c':3,'d':4}
‘a’ {'b':2,'c':3,'d':4}

{‘a':1,'b':2,'c':3,'d':4}
‘e’ \{‘a':1,'b':2,'c':3,'d':4}

In [27]:
# @title
key = input('Input key:')
D = {'a':1, 'b':2, 'c':3, 'd':4}
if key in D:
    D.pop(key)
    print(D)
else:
    print(D)

Input key:e
{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [30]:
# @title
d = {'a':1,'b':2,'c':3,'d':4}
k = 'e'
d.pop(k, None)
print(d)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

### **6.Given a set, check if the given number exists.**
s = {1, 10, 90, 9},
n = 90

s = {6, 4, 10, 20, 21, 3},
n = 90

In [ ]:
# @title
E = {1, 10, 90, 9}
print(90 in E)
F = {6, 4, 10, 20, 21, 3}
print(90 in F)

True
False

### **7.For a given n, create a list (using loops, or list comprehension), which contains all natural numbers less or equal n divisible by 7.**

In [ ]:
# @title
lst_3 = [i for i in range(1,100) if i % 7 == 0]
print(lst_3)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

In [33]:
# @title
lst_4 = []
for i in range(1,100):
    if i % 7 == 0:
        lst_4.append(i)

print(lst_4)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

In [31]:
# @title
n = 100
result = list(range(7, n + 1, 7))
print(result)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]